<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.label == 'Username' %}
                <p>{{ field.label }}: {{ field }} <b>Current username: {{ request.user.username }}</b></p>
            {% else %}
                <p>{{ field.label }}: {{ field }}</p>
            {% endif %}
        {% endfor %}

        <!-- <button type="submit">  <h3>save</h3>  </button> -->
        <input type="submit" value="save">
    </form>
</body>
</html>