<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
          <th>ID</th>
          <th>username</th>
          <th>gender</th>
          <th>access</th>
          <th>option</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.user.username}}</td>
          <td>{{user.gender}}</td>
          <td>{% if user.is_staff %} staff user {% else %} normal user {% endif %} </td>
          <td><a href="{% url 'accounting:delete_user' user.id %}"><button>delete user</button></a>
            {% if not user.is_staff %}
            <a href=""><button>promote to staff</button></a></td>
            {% else %}
            <a href=""><button>to normal</button></a>
            {% endif %}
          </td>

        </tr>
        {% endfor %}
    </table>

</body>
</html>