<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>category list</h1>
    <br>
    <form action="{% url 'extra:search_category' %}" method="post">
        {% csrf_token %}
        <input name="category_name">
        <button>search category </button>
        
    </form>
    <br><br>
<h2><a href="{% url 'extra:add_category' %} "><button>add category</button></a></h2>
<br><br><hr>
{% for category in categorys %}
    <ul>
        <li>{{category.name}}</li>
        
        <h3><a href="{% url 'extra:update_category' category.id %}"><button>edit</button></a></h3>
        <h3><a href="{% url 'extra:delete_category' category.id %}"><button>delete</button></a></h3>
    </ul>
    <br><hr>
    
{% endfor%}
</body>
</html>