<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>publisher list</h1>
    <br>
    <form action="{% url 'extra:search_publisher' %}" method="post">
        {% csrf_token %}
        <input name="publisher_name">
        <button>search publisher </button>

    </form>
    <br><br>
    <h2><a href="{% url 'extra:add_publisher' %} "><button>add publisher</button></a></h2>
    <br><br><hr>
    {% for publisher in publishers %}
        <ul>
            <li>name : {{publisher.name}}</li>
            <li>address : {{publisher.address}}</li>
            <h3><a href="{% url 'extra:update_publisher' publisher.id %}"><button>edit</button></a></h3>
            <h3><a href="{% url 'extra:delete_publisher' publisher.id %}"><button>delete</button></a></h3>
        </ul>
        <br><hr>
    
    {% endfor%}
    
</body>
</html>